#wrapper {padding:0 5px;}
input,button {width:96%; padding:15px 0; padding-left:4%;}
button {width:100%; padding-left:0;}
hr {border-color:#fff; width:100%;}
.videos {width:100%;}
.video-text-wrapper {width:94%; margin-bottom:20px; height:auto;padding-bottom:20px;}
.video-img-wrapper {width:100%;clear:both;}