a,p,li,h1,h2,h3 {font-family:helvetica, arial; color:#000;}
a {text-decoration:none;}
#container {margin:10px auto; max-width:1000px;}
#wrapper {padding:0 40px;}
h2 {font-size:1rem;}
h3 {font-size:0.9rem;}
input {border-style:none; background:#eee; width:790px; height:10px; padding:15px; color:#ccc; float:left:}
button {background:#000; color:#fff; border-style:none; height:40px; padding:15px; line-height:13px; width:100px; float:right;}
hr {width:1000px; margin:50px 0 50px -40px; border:1px solid #ccc;}
ul {list-style-type:none; margin:0; padding:0px;}
.videos {width:70%; margin:0 auto; padding-bottom:20px; height:203px;}
.top {height:15px;}
.videos img {height:200px; min-width:100%;}
.video-text-wrapper {height:200px; width:47%; float:left; background:#eee; padding:0 3%; font-size:0.7rem;}
.video-text-wrapper:hover {background:#9bff99;}
.video-img-wrapper {height:200px; width:47%; float:left; background:#eee;}
.img-responsive {display: block; max-width: 100%;}