<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The amazing YouTube search</title>
  <meta name="description" content="YouTube API">
  <meta name="viewport"
              content="width=device-width,
              initial-scale=1.0,
              maximum-scale=1.0,
              minimum-scale=1.0,
              user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes"/>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" media="only screen and (max-width : 480px)" href="css/mobile.css" />
        
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.js"></script>
</head>
<body>
    <div id="container">
		<div id="wrapper">
			<gallery></gallery>
			<template id="videos-template">
				<h1>The amazing YouTube search</h1>
				<form @submit.prevent="handleSubmit" id="search-form">
					<input type="text" v-model="q" value="What are you looking for?" onClick="this.value='';" id="search-box"/>
					<button type="submit">Search</button>
				</form>
				<hr class="hr">
				<ul>
				    <li class="videos top"><h2>Your search results</h2></li>
					<li v-for="video in videos" class="videos">
					    <div class="video-img-wrapper">
						    <a href="http://www.youtube.com/watch?v={{video.id.videoId}}"><img src="{{video.snippet.thumbnails.medium.url}}" alt="{{video.snippet.title}}" title="{{video.snippet.title}}" class="img-responsive"/></a>
						</div>
						<div class="video-text-wrapper">
						    <h3><a href="http://www.youtube.com/watch?v={{video.id.videoId}}">{{ video.snippet.title }}</a></h3>
						    <p><a href="http://www.youtube.com/watch?v={{video.id.videoId}}">{{ video.snippet.description }}</a></p>
						</div>
					</li>
				</ul>
			</template>
		</div>
	</div>
    <script>
        Vue.component('gallery', {
                template: '#videos-template',
                data: function(){
                    return {
                        videos: []
                    };
                },
                created: function() {
                    this.fetchVideoList();
                },
                methods: {
                    fetchVideoList: function(){
                        this.$http.get('https://www.googleapis.com/youtube/v3/search?part=id,snippet&q=limes&key=AIzaSyDMEgyECScLdhmGq-YcNFFQ2HFawNstPCw&maxResults=5', function(videosList){
                            this.videos = videosList.items;
                            console.log(videosList.items);
                        });
                    },
                    handleSubmit: function(){
                        this.$http.get('https://www.googleapis.com/youtube/v3/search?part=id,snippet&q=' + this.q +  '&key=AIzaSyDMEgyECScLdhmGq-YcNFFQ2HFawNstPCw&maxResults=5', function(videosList){
                            this.videos = videosList.items;
                            console.log(videosList.items);
                        });
                    }
    
                }
        });

        new Vue({
            el: 'body'
        });
    </script>
</body>
</html>